<div class="contenido-componente">
 
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Juan</mat-card-title>
      <mat-card-subtitle>Administrador</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmJUeQCIV5gK-gudX5l3OIhRcmgnbtGDhExw&usqp=CAU">
    <mat-card-content>
      <li>
        <small class="text-muted">Nombre:</small>
        <span>Juan</span>
      </li>
      <li>
        <small class="text-muted">Rol:</small> <span></span>
        <span>Administrador</span>
      </li>
      <li>
        <small class="text-muted">Género:</small>
        <span>Masculino</span>
      </li>
     
      <li>
        <small class="text-muted">Telefono:</small>
        <span>967373737</span>
      </li>
      <li>
        <small class="text-muted">Correo:</small> <span></span>
        <span>jua785@gmail.com</span>
      </li>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Editar</button>
    
    </mat-card-actions>
  </mat-card>
</div>