<div class="body"> 
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="acceder(form.value)">
            <br>
           
          <br>
          <br>
          <br>
           <br> <mat-form-field class="ancho" appearance="fill">
                <mat-label class="fas fa-user">
                    Usuario</mat-label>
                <input  type="text"  matInput formControlName="usuario">
               </mat-form-field>
               <br>
               <br>
               <br>
               <br>
                <mat-form-field class="ancho" appearance="fill">
                    <mat-label class="fas fa-lock">
                        Contraseña</mat-label>
                    <input type="password" matInput formControlName="password">                
                    <br>
                </mat-form-field>
                <br>
                <br>                
                <br>
                <br>
                <br>
                <br>
                <br>
                 <button type="submit" class="ancho button" mat-raised-button color="warn">Acceder</button>              
        </form>     
    </div>
</div>


