

<div class="contenido-componente">

    <div class="cabecera-pagina">
      <h2 class="h2-cabecera">Roles/Permisos</h2>
    </div>
  
    <mat-card>
      <form class="example-form">
          
    
        <mat-label>Filtrar:</mat-label>
       
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Id</mat-label>
          <input type="number" matInput placeholder="1">
  
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Año</mat-label>
          <input type="number" matInput placeholder="2022">
  
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Semana</mat-label>
          <input type="text" matInput placeholder="30">
        </mat-form-field>
        &nbsp;
   
    <button class="btn-basic"  matTooltip="Buscar"
     matTooltipPosition="above" matTooltipClass="custom-tooltip-basic">
      <mat-icon>search</mat-icon>
    </button>&nbsp; 
  </form>
  
  
        <div class="align-btn">
        
      
      </div>
      
      <app-tabla [titulos]="titulos" [data]="data" [id]="'puesto'" [accionsbutonact]="true"  >
      </app-tabla>
    </mat-card>
    &nbsp;
  
  </div>

