.align-btn {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}
.example-form {
  height: 10px;
}

.custom-tooltip-primary {
  background: #4b88b9;
}

.custom-tooltip-warning {
  background: #fca364;
}

.custom-tooltip-basic {
  background: #5e5e5e;
}

.custom-tooltip-delete {
  background: #ba2028;
}

.contenido-componente {
  animation: fadeIn;
  animation-duration: 0.5s;
}
.example-full-width {
  font-size: small;
  width: 70px;
}
