<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>GfG</title>
</head>
<body>
<form>
	


	

<p>
		<label>Nombre: <input name="firstName" /></label>
	</p>


	

<p>
		<label>Apellidos: <input name="lastName" /></label>
	</p>


	

<p>
		Sexo :
		<label><input type="radio" name="gender" value="male" /> M</label>
		<label><input type="radio" name="gender" value="female" /> F</label>
	</p>


	

<p>
		<label>Email:<input type="email" name="email" /></label>
	</p>


	

<p>
		<label>Date of Birth:<input type="date" name="birthDate"></label>
	</p>


	

<p>
		<label>
		Address :
		<br />
		<textarea name="address" cols="30" rows="3"></textarea>
		</label>
	</p>


	

<p>
		<button type="submit">Submit</button>
	</p>


	
</form>
</body>
</html>

<!---
   <mat-card-actions class="card-button-actions">
      <button mat-button (click)="cancelar()">CANCELAR</button>
      <button class="btn-primary example-full-width" style="height: 40px;" type="submit" matTooltip="Agregar nuevo" matTooltipPosition="above" [disabled]="NuevoUsuario.invalid"  (click)="agregar()">
        AGREGAR
      </button>
  
   </mat-card-actions>
  </form>
-->
